@model CourseSheduleManagement.Models.Lecture

@{
    ViewData["Title"] = Model.ScheduleId==0?"Create Lecture Schedule":"Update Lecture Schedule";
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduleId" />
            <div class="form-group">
                 <div class="row">
                     <div class="col-6">
                        <label class="control-label">Course</label>    
                        <select id="selectCourseId" asp-for="CourseId" asp-items="ViewBag.CourseList as SelectList" class="form-control" onchange="getBatches();">
                             <option selected>-- Select Course --</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label class="control-label">Batch</label>    
                        <select id="selectBatchId" asp-for="BatchId" class="form-control"></select>
                        <span asp-validation-for="BatchId" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="row">
                      <div class="col-3">
                        <label class="control-label">Module</label>    
                        <select id="selectModuleId" asp-for="ModuleId" asp-items="ViewBag.ModuleList as SelectList" class="form-control">
                             <option selected>-- Select Module --</option>
                        </select>
                        <span asp-validation-for="ModuleId" class="text-danger"></span>
                    </div>
                     <div class="col-3">
                        <label class="control-label">Hall</label>    
                        <select id="selectHallId" asp-for="HallId" asp-items="ViewBag.HallList as SelectList" class="form-control">
                             <option selected>-- Select Hall --</option>
                        </select>
                        <span asp-validation-for="HallId" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Lecture Type</label>    
                        <select id="selectLectureType" asp-for="LectureType" class="form-control">
                            <option value="0" selected>-- Select Lecture Type --</option>
                            <option value="Lecture" selected>Lecture</option>
                            <option value="Practical" selected>Practical</option>
                        </select>
                        <span asp-validation-for="LectureType" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Lecturer</label>    
                        <select id="selectLecturerId" asp-for="StaffId" asp-items="ViewBag.StaffList as SelectList" class="form-control">
                             <option selected>-- Select Lecturer --</option>
                        </select>
                        <span asp-validation-for="StaffId" class="text-danger"></span>
                    </div>
                 </div>
                  <div class="row">
                    <div class="col-3">
                        <label class="control-label">Date</label>    
                        <input id="date" asp-for="Date" type="date"  class="form-control"/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label class="control-label">Start Time</label>    
                        <input id="starttime" asp-for="StartTime" type="time" class="form-control"/>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label class="control-label">End Time</label>    
                        <input id="endtime" asp-for="EndTime" type="time" class="form-control"/>
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input type="button" style="margin-top:20px" id="btnAddToList" value="Add" name="AddToList" class="btn btn-success" />

                    </div>
                     
                 </div>
     
            </div>
            <div class="form-group">
                 <div class="row">
                    <div class="col-1">
                         <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-2">
                         <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                    <div class="col-9">

                    </div>
                 </div>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
      
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var todayDate = String(date.getDate()).padStart(2,'0');
    var datePattern = year + '-' + month + '-' + todayDate;
    document.getElementById("date").value = datePattern;
   // document.getElementById("date").value = new Date();

    function getBatches() {   
      
        $.get("/Student/GetBatchList",{ courseId:$('#selectCourseId').val() },function(data){
            $("#selectBatchId").empty();
            $("#selectBatchId").append("<option selected value=''>-- Select Batch --</option>");           
            $.each(data,function(index,row){
                $("#selectBatchId").append("<option value='"+row.batchId+"'>"+row.batchCode+"</option>");
            });
        });
    }

  
              
</script>
}
