@model IEnumerable<CourseSheduleManagement.Models.Exam>
@{
    ViewData["Title"] = "Exams";
     Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}
<body onload="AllExams()"> </body>
<h1>Exam Schedule</h1><br/>
   
       <div class="row">
                    <div class="col-6">
                        <label class="control-label">Course</label>
                        <select id="selectCourseId" asp-items="ViewBag.CourseList as SelectList" class="form-control" onchange="GetModuleList();">
                            <option selected>-- Select Course --</option>
                        </select>
                    </div>
                    </div>
         <div class="row">
                    <div class="col-6">
                        <label class="control-label">Module</label>    
                        <select id="selectModuleId" class="form-control" onchange="GetModules();">
                             <option selected>-- Select Module --</option>
                        </select>
                    </div>
        </div>
  

    <table id="tblExams" class="table table-striped">
        <tr>
            <th>Module Name</th>
            <th>Lecturer Name</th>
            <th>Course Name</th>
            <th>Batch Code</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Hall Name</th>
        </tr>
    </table>
 
    <script type="text/javascript">
        
         function GetModuleList() {   
      
                $.get("/LecturerView/GetModuleList",{ courseId:$('#selectCourseId').val() },function(data){
                     $("#selectModuleId").empty();
                     $("#selectModuleId").append("<option selected value=''>-- Select Module --</option>");           
                     $.each(data,function(index,row){
                            $("#selectModuleId").append("<option value='"+row.moduleId+"'>"+row.moduleName+"</option>");
            });
                 });
        }
          function GetModules() {

             $.get("/LecturerView/GetExamsByModule",{ moduleId:$('#selectModuleId').val()},function(exams){
                 
                     var table = $("#tblExams");
                    table.find("tr:not(:first)").remove();
                    $.each(exams, function (i, exam) {
                        var table = $("#tblExams");
                        var row = table[0].insertRow(-1);

                        $(row).append("<td />");
                        $(row).find("td").eq(0).html(exam.moduleName);
                        $(row).append("<td />");
                        $(row).find("td").eq(1).html(exam.lecturerName);
                        $(row).append("<td />");
                        $(row).find("td").eq(2).html(exam.courseName);  
                        $(row).append("<td />");
                        $(row).find("td").eq(3).html(exam.batchCode);  
                        $(row).append("<td />");
                        $(row).find("td").eq(4).html(exam.retrieveDate);         
                        $(row).append("<td />");
                        $(row).find("td").eq(5).html(exam.retrieveStartTime);
                        $(row).append("<td />");
                        $(row).find("td").eq(6).html(exam.retrieveEndTime);
                        $(row).append("<td />");
                        $(row).find("td").eq(7).html(exam.hallName);
                    });          
            
            });
         
        }

         function AllExams() {

             $.get("/LecturerView/GetAllExams",{ },function(exams){
                    
                  
                    var table = $("#tblExams");
                    table.find("tr:not(:first)").remove();
                    $.each(exams, function (i, exam) {
                        var table = $("#tblExams");
                        var row = table[0].insertRow(-1);

                        $(row).append("<td />");
                        $(row).find("td").eq(0).html(exam.moduleName);
                        $(row).append("<td />");
                        $(row).find("td").eq(1).html(exam.lecturerName);
                        $(row).append("<td />");
                        $(row).find("td").eq(2).html(exam.courseName);  
                        $(row).append("<td />");
                        $(row).find("td").eq(3).html(exam.batchCode);  
                        $(row).append("<td />");
                        $(row).find("td").eq(4).html(exam.retrieveDate);         
                        $(row).append("<td />");
                        $(row).find("td").eq(5).html(exam.retrieveStartTime);
                        $(row).append("<td />");
                        $(row).find("td").eq(6).html(exam.retrieveEndTime);
                        $(row).append("<td />");
                        $(row).find("td").eq(7).html(exam.hallName);
                    });          
            
            });
            
        }
        
    </script>

