@{
    ViewData["Title"] = "Student Home";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<body bgcolor="#99ccff">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

</body>

