@model CourseSheduleManagement.Models.Course

@{
    ViewData["Title"] = Model.CourseId==0?"Create Course":"Update Course";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="AddOrEdit" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                 <div class="row">
                    <div class="col-12">
                        <label class="control-label">Course Name</label>
                        <input  id="coursename" asp-for="CourseName" class="form-control"/>
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                        <label class="control-label">Description</label>
                        <textarea asp-for="Description" class="form-control" ></textarea>
                    </div>
                 </div>
                  <div class="row">
                    <div class="col-12">
                        <label class="control-label">Course Code</label>
                        <input asp-for="CourseCode" id="coursecode" class="form-control" readonly/>
                        <span asp-validation-for="CourseCode" class="text-danger"></span>
                        <div id="text"></div>
                    </div>
                 </div>
               
            </div>
            <div class="form-group">
                 <div class="row">
                    <div class="col-1">
                         <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-2">
                         <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                    <div class="col-9">

                    </div>
                 </div>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
      
        $('#coursename').keyup(function() {
            
             var input = $("#coursename").val();
             let acronym = input.split(/\s/).reduce((response,word)=> response+=word.slice(0,1),'').toUpperCase();

             $('#coursecode').val(acronym); 

        });
              
</script>
}
